<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/style.css}">
<script src="../static/script.js" th:src="@{/script.js}"> </script>
<head>
    <meta charset="UTF-8">
    <title>FlyWise</title>
</head>
<body>
<form>

    <label for="flightNum">Provide the Flight Number: </label>
    <input type="text" id="flightNum">
    <label for="dateStr">Select the flight date</label>
    <input type="date" id="dateStr">

    <input type="button" id="submit" value="Search...">

</form>
</body>
</html>